/* Site Brand */
.brand-link, .brand-link:hover{
  color: inherit;
  text-decoration: none;
  display: block;
}

.brand{
  @extend .flex-center;
  .logo{
    margin-right: 0.25rem;
  }
  .inner{
    .name, .name span, .slogan, .slogan span{
      @extend .flex-center
    }
  }
}
